/* Box Model Example */
/** This treats all the elements as a box and can be used to make unique styles **/

h2 {
	text-align: center;
}

div {
	background-color: #0000CC;
	color: #ffffff;
	box-sizing: border-box;


	width: 48%;
	display: inline-block;
	height: 200px;
	margin: 5px;
	border: 10px solid black;
	padding: 15px;
	margin: 0 auto;
	margin-top: 50px;
}
